#
# PHP source directory
#
SOURCE_DIR=./www

#
# Runtime data directory
#
DATA_DIR=./data

#
# Container Timezone
#
TZ=Asia/Shanghai

#
# Container package fetch url
#
# Can be empty, followings or others:
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
# dl-cdn.alpinelinux.org
#
CONTAINER_PACKAGE_URL=mirrors.ustc.edu.cn

#
#ALPINE
#
ALPINE_VERSION=3.15

#
# Nginx
#
NGINX_VERSION=nginx:stable
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./services/nginx/conf.d
NGINX_CONF_FILE=./services/nginx/nginx.conf
NGINX_FASTCGI_PHP_CONF=./services/nginx/fastcgi-php.conf
NGINX_FASTCGI_PARAMS=./services/nginx/fastcgi_params.conf
NGINX_SSL_CERTIFICATE_DIR=./services/nginx/ssl
NGINX_LOG_DIR=./logs/nginx
# Available apps: certbot
NGINX_INSTALL_APPS=

#
# MySQL8
#
MYSQL8_VERSION=mysql:8.0.34
MYSQL8_HOST_PORT=3306
MYSQL8_ROOT_PASSWORD=mysql_123456
MYSQL8_ROOT_HOST=%
MYSQL8_CONF_FILE=./services/mysql8/mysql.cnf
MYSQL8_LOG_DIR=./logs/mysql8

#
# Redis
#
REDIS_VERSION=redis:latest
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./services/redis/redis.conf

#
# PHP
#

#php74
PHP74_VERSION=php:7.4.33-fpm-alpine
PHP74_SSL_DIR=./services/php74/ssl
PHP74_SSH_DIR=./services/php74/.ssh
PHP74_INI_FILE=./services/php74/php.ini
PHP74_FPM_CONF_FILE=./services/php74/php-fpm.conf
PHP74_LOG_DIR=./logs/php74
PHP74_PORT_9000=9000
PHP74_PORT_9501=9501
PHP74_PORT_9502=9502
PHP74_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,swoole,redis,xlswriter,ssh2,imagick,intl,calendar,exif,pcntl,sockets,bcmath,zip

#php81
PHP81_VERSION=php:8.1-fpm-alpine3.18
PHP81_SSL_DIR=./services/php81/ssl
PHP81_SSH_DIR=./services/php81/.ssh
PHP81_INI_FILE=./services/php81/php.ini
PHP81_FPM_CONF_FILE=./services/php81/php-fpm.conf
PHP81_LOG_DIR=./logs/php81
PHP81_PORT_9000=9100
PHP81_PORT_9501=9601
PHP81_PORT_9502=9602
PHP81_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,swoole,redis,xlswriter,ssh2,imagick,intl,calendar,exif,pcntl,sockets,bcmath,zip

#php82
PHP82_VERSION=php:8.2.16-fpm-alpine3.18
PHP82_SSL_DIR=./services/php82/ssl
PHP82_SSH_DIR=./services/php82/.ssh
PHP82_INI_FILE=./services/php82/php.ini
PHP82_FPM_CONF_FILE=./services/php82/php-fpm.conf
PHP82_LOG_DIR=./logs/php82
PHP82_PORT_9000=9500
PHP82_PORT_9501=9901
PHP82_PORT_9502=9902
PHP82_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,swoole,redis,xlswriter,ssh2,imagick,intl,calendar,exif,pcntl,sockets,bcmath,zip


#
# MINE
#
MINE_VERSION = hyperf/hyperf:8.3-alpine-v3.19-swoole-v5.1.2
MINE_PORT_9000 = 9200
MINE_PORT_9501 = 9701
MINE_PORT_9502 = 9702


#
# RABBITMQ
#
RABBITMQ_VERSION=rabbitmq:management
RABBITMQ_PORT_SERVICE=5672
RABBITMQ_PORT_WEB=15672
RABBITMQ_DEFAULT_USER=rabbitmq_user
RABBITMQ_DEFAULT_PASS=rabbitmq_pass


#
# elasticsearch
#
ELASTICSEARCH_VERSION = 8.11.0
ELASTICSEARCH_PLUGINS = analysis-ik
ELASTICSEARCH_CONF_FILE = ./services/elasticsearch/elasticsearch.yml
ELASTICSEARCH_HOST_PORT_C = 9200
ELASTICSEARCH_HOST_PORT_S = 9300

#
# LOGSTASH
#
LOGSTASH_VERSION=8.11.0
LOGSTASH_HOST=5601
LOGSTASH_HOST_PORT_C=9600
LOGSTASH_HOST_PORT_S=5044

#
# KIBANA
#
KIBANA_VERSION=8.11.0
KIBANA_HOST=5601
KIBANA_I18N_LOCALE=zh-CN